/* Header
############################################################################ */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin-bottom: var(--size-5xl);

  & .hidden {
    display: none;
  }

  @media screen and (min-width: 668px) {
    & .hidden {
      display: block;
    }
  }

  & .header-icons {
    display: flex;
    flex-flow: row wrap;
    gap: 48px;
  }
}

/* Artist Info Block
############################################################################ */
.artist-info-block {
  & h2,
  h3 {
    font: var(--font-heading-m);
  }

  & h2 {
    margin-bottom: var(--size-l);
  }

  & p,
  li {
    font: var(--font-body-m-light);
  }

  & > p {
    margin: var(--size-l) 0;
  }

  margin-top: var(--size-4xl);
}

/* Artist Short Info
############################################################################ */
.artist-short-info {
  & h3 {
    font: var(--font-heading-s-regular);
    margin: 0;
    padding: 0;
  }

  & .text {
    border-left: var(--border-width-l) var(--color-primary-default) solid;
    background-color: var(--card-color);
    padding: var(--size-l);
    & p,
    ul {
      margin-top: var(--size-xs);
    }
  }

  & li {
    margin-left: var(--size-l);
  }

  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

/* Image with Info
############################################################################ */
.artwork-card {
  font: var(--font-body-s-light);
  & .text {
    background-color: var(--card-color);
    padding: var(--size-m);
  }
  & img {
    width: 100vw;
  }
  margin-bottom: var(--size-m);
}

/* Artist CV
############################################################################ */
.artist-cv {
  & h3 {
    font: var(--font-heading-s-regular);
    margin-bottom: var(--size-xl);
  }

  & table {
    border-collapse: collapse;
  }

  & tr td:first-child {
    font: var(--font-body-m-regular);
  }

  & tr td:last-child {
    font: var(--font-body-m-light);
  }

  & tr:not(tr:last-child) {
    border-bottom: var(--border-width-s) var(--separator-color) solid;
  }

  & tr {
    padding: var(--size-s) 0;
  }

  & tr {
    display: flex;
    flex-flow: column nowrap;
  }

  margin: var(--size-xxxl) 0 var(--size-xl) 0;
}

/* Sidebar Navigation
############################################################################ */
.sidebar-navigation {
  font: var(--font-body-m-light);
  & h2 {
    font: var(--font-heading-m);
  }
  & li {
    border-left: var(--border-width-m) var(--separator-color) solid;
  }

  &.hidden {
    display: none;
  }
}

/* Footer Info
############################################################################ */
.footer-info {
  & h4 {
    font: var(--font-heading-s-semibold);
    margin-bottom: var(--size-m);
  }

  & li {
    margin-bottom: var(--size-xs);
  }

  &:nth-of-type(3) {
    margin-bottom: var(--size-4xl);
  }
  font: var(--font-body-m-light);
}

/* Footer
############################################################################ */
footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  margin-top: var(--size-5xl);
  & > * {
    margin-top: var(--size-xxxl);
  }

  & ul {
    list-style: none;
  }
  padding: var(--size-xxxl) var(--size-l) var(--size-l) var(--size-l);
}
