/* Artist Info Block
############################################################################ */
.artist-info-block {
    
    &  h2, h3 {
      font: var(--font-heading-m);
    }
    
    & p, li {
        font: var(--font-body-m-light);
    }
}

/* Artist Short Info
############################################################################ */
.artist-short-info  h3 {
    font: var(--font-heading-s-regular);
}

/* Image with Info
############################################################################ */
.artwork-card {
    font: var(--font-body-s-light)
}

/* Artist CV
############################################################################ */
.artist-cv {
    & h3 {
        font: var(--font-heading-s-regular);
    }

    & tr td:first-child {
        font: var(--font-body-m-regular);
    }

    & tr td:last-child {
        font: var(--font-body-m-light);
    }
}

/* Sidebar Navigation
############################################################################ */
.sidebar-navigation {
    font: var(--font-body-m-light);
    & h2 {
        font: var(--font-heading-m);
    }
}

/* Footer
############################################################################ */
.footer-info { 
    & h4 {
        font: var(--font-heading-s-semibold);
    }
    & {
        font: var(--font-body-m-light);
    }
}